@font-face {
    font-weight: normal;
    src: url("../fonts/AAbsoluteEmpire-EaXpg.ttf");
    font-family: 'AAbsoluteEmpire';
}
.header {
    font-family: AAbsoluteEmpire;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: black;
    font-size: 15px;
}
.header a:hover {
    font-weight: bold;
    color: #545454;
    transition: text-shadow 0.5s;
    text-shadow: gray;
}

.header img {
    width: 32px;
    height: 32px;
    transition: all .2s ease-in-out;
}
.header img:hover {
    transform: scale(1.15);
}